<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2>Update an Existing Toy</h2>

<form action="/toys/<%=@toy.slug%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <p>
    <label>Name: </label>
    <input id="toy_name" type="text" name="toy[name]" value="<%=@toy.name%>">
  </p>

  <p>
    <label>Edition: </label>
    <input id="toy_edition" type="text" name="toy[edition]" value="<%=@toy.edition%>">
  </p>

  <p>
    <label>Color: </label>
    <input id="toy_color" type="text" name="toy[color]" value="<%=@toy.color%>">
  </p>

  <p>
    <label>Designer: </label>
    <input id="toy_designer" type="text" name="toy[designer]" value="<%=@toy.designer%>">
  </p>

  <p>
    <label>Brand: </label>
    <input id="toy_brand" type="text" name="toy[brand]" value="<%=@toy.brand%>">
  </p>


  <input type="submit" value="Save">
</form>
