<h3>Update an Existing Toy</h3>

<form action="/toys/<%=@toy.slug%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <p>
    <label>Name: </label>
    <input id="toy_name" type="text" name="toy[name]" value="<%=@toy.name%>">
  </p>

  <p>
    <label>Edition: </label>
    <input id="toy_edition" type="text" name="toy[edition]" value="<%=@toy.edition%>">
  </p>

  <h4>Select a Designer:</h4><br>

  <% Designer.all.each do |designer| %>
   <input type="checkbox" name="toy[designer_id]" value="<%= designer.id %>" id="<%= designer.id %>" <%='checked' if @toy.designer == designer %>><label><%= designer.name %></label><br>
  <% end %>

    <br>

    <h4>Or create a new one:</h4><br>

      <p><strong><label>Designer Name:</label></strong>
      <input id="new_designer" type="text" name="designer[name]"></p>

    <br>

  <input type="submit" value="Save">
</form>
