<% if flash.has?(:message) %>
  <p style="color:red"><%= flash[:message] %></p>
<% end %>

<h2><%= @toy.name %></h2>

  <p><strong>Edition: </strong><%= @toy.edition %></p>
  <p><strong>Color: </strong><%= @toy.color %></p>
  <p><strong>Designer: </strong><%= @toy.designer %></p>
  <p><strong>Brand: </strong><%= @toy.brand %></p>
  <p><strong>Belongs to <a href="/users/<%=@toy.user.slug%>"><%=@toy.user.slug.capitalize%></a></strong></p>

<button onclick="window.location.href = '/toys/new';">Add New Toy</button>

<br>

<% if @toy.user == current_user %>

  <button onclick="window.location.href = '/toys/<%=@toy.slug%>/edit';">Edit This Toy</button>

  <form action="/toys/<%=@toy.slug%>/delete" method="post">
    <input type="hidden" name="_method" value="DELETE" id="hidden">

    <input type="submit" value="Delete This Toy">
  </form>

<% end %>
