<h2><%= @toy.name %> (<%= @toy.edition %>)</h2>

<h4>Designer:</h4>
  <p>
    <a href="/designers/<%=@toy.designer.slug%>"><%=@toy.designer.name%></a>
  </p>

<form action="/toys/<%=@toy.slug%>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE" id="hidden">

  <input type="submit" value="Delete Toy">
</form>

<a href="/toys/<%=@toy.slug%>/edit">Edit Toy</a>
