<h2><%= @toy.name %></h2>

  <p><strong>Edition: </strong><%= @toy.edition %></p>
  <p><strong>Color: </strong><%= @toy.color %></p>
  <p><strong>Designer: </strong><%= @toy.designer %></p>
  <p><strong>Brand: </strong><%= @toy.brand %></p>


<form action="/toys/<%=@toy.slug%>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE" id="hidden">

  <input type="submit" value="Delete Toy">
</form>

<a href="/toys/<%=@toy.slug%>/edit">Edit Toy</a>
