<h3><%= @toy.name %> (<%= @toy.edition %>)</h3>

<h4>Designer</h4>
  <p>
    <a href="/designers/<%=@toy.designer.slug%>"><%=@toy.designer.name%></a>
  </p>

<a href="/toys/<%=@toy.id%>/edit">Edit Toy</a>
