<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2><%= @user.username.capitalize %>'s Profile</h2>

  <ul>
    <li><b>Username: </b><%= @user.username.capitalize %></li><br>
    <li><b>Email: </b><%= @user.email %></li><br>
  </ul>

<h4>Toy(s):</h4>
  <ul>
    <% @user.toys.each do |toy| %>
      <li><a href="/toys/<%=toy.slug%>"><%=toy.name%></a></li>
    <% end %>
  </ul>
