<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2><%= @user.username.capitalize %>'s Profile</h2>

  <ul>
    <li><b>Username: </b><%= @user.username.capitalize %></li><br>
    <li><b>Email: </b><%= @user.email %></li><br>
  </ul>

<h4><%= @user.username.capitalize %>'s Toy Collection:</h4>
  <p>
    <ul type="square">
      <% @user.toys.each do |toy| %>
        <li><a href="/toys/<%=toy.slug%>"><%=toy.name%></a></li>
      <% end %>
    </ul>
  </p>

<button onclick="window.location.href = '/toys/new';">Add New Toy</button>
